.DS_Storesmall
*.pyc
prompting/
t5-anli-code.ipynb
v1/__pycache__
v1/.DS_Store
v1/data/
v1/data2/
t5-flute.ipynb
/v1/test_train/
v1/full_r1/
v1/full_r2/
v1/full_r3/
v1/model/
/results_labels/
/results/outputs/
# /results/
results/t5-small-logs
results/t5-small-logs-labels-only/outputs
results/t5-small-logs-labels-only/t5-small-labels
results/t5-small-logs_new_lr/outputs
results/t5-small-logs_new_lr/t5-small

results/t5-small-logs-labels-only_ne_lr/outputs
results/t5-small-logs-labels-only_ne_lr/t5-small-labels_new_lr

results/t5-small-logs-labels-only0.0003/outputs
results/t5-small-logs-labels-only0.0003/t5-small-labels

results/t5-small-logs0.0003/t5-small
results/t5-small-logs0.0003/outputs

results/t5-small-logs-split-loss0.0003/t5-small
results/t5-small-logs-split-loss0.0003/outputs


results/t5-base-logs-split-loss_0.0003_(0.5, 0.5)/outputs
results/t5-base-logs-split-loss_0.0003_(0.5, 0.5)/t5-small


